<ngx-loading-bar color="rgba(0, 91, 79, 1)" height="4px"></ngx-loading-bar>
<nav class="navbar  sticky-top flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 logo" routerLink="/admin/home">Foodinn</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    Menu
  </button>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/product">
              <mat-icon>menu_book</mat-icon> Menu
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/home">
              <mat-icon>campaign</mat-icon> MKT Hub
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/sales-center">
              <mat-icon>price_change</mat-icon> {{ 'ADMIN.SIDEBAR.PRICE_ZONE' | translate }}
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/sales-center/qr">
              <mat-icon>qr_code</mat-icon> {{ 'ADMIN.SIDEBAR.QR' | translate }}
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/lang">
              <mat-icon>language</mat-icon> {{ 'ADMIN.SIDEBAR.LANG' | translate }}
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/feedback">
              <mat-icon>star</mat-icon> {{ 'ADMIN.SIDEBAR.FEEDBACK' | translate }}
            </a>
          </li>


          <mat-divider></mat-divider>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/setting">
              <mat-icon>settings</mat-icon> {{ 'ADMIN.SIDEBAR.SETTING' | translate }}
            </a>
          </li>

          <li class="nav-item d-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/mkt-hub">
              <mat-icon>support_agent</mat-icon> {{ 'ADMIN.SIDEBAR.SUPPORT' | translate }}
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" (click)="logout($event)" routerLink="/admin/auth/login">
              <mat-icon>logout</mat-icon> {{ 'ADMIN.SIDEBAR.LOGOUT' | translate }}
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <h1>Panel Administración</h1>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
