.body {
  background-color: #F7F8FC;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 70px 0 0; /* Height of navbar */
  background-color: #363740;
  color: rgba(164, 166, 179, 1);
}
.logo {
  font-size: 22px;
  font-weight: 600;
}
a, a:hover {
  color: rgba(164, 166, 179, 1);
}
.mat-icon {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 3rem;
    padding-top: 0;
  }
  .navbar {
    background: #2d2e35;
    margin-bottom: 15px;
  }
}
.nav-link .fas {
  margin-right: 5px;
}
.navbar .navbar-toggler {
  top: 10px;
  right: 1rem;
  color: rgba(164, 166, 179, 1);
  font-weight: 600;
  font-size: 21px;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 300;
  color: rgba(164, 166, 179, 1);
  font-size: 16px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: rgba(164, 166, 179, 1);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.sidebar .nav-item {
  padding: 5px;
}
.sidebar  .nav-item:hover, .nav-item.active {
  background-color: #3E4049;
  padding: 10px;
  border-left: 4px solid;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .nav-link {
  color: rgba(37, 39, 51, 1);
}

h1 {
  color: rgba(37, 39, 51, 1);
  font-size: 24px;
  margin-bottom: 20px;
}
