.less {margin-left: 10px;}
.less, .more, .minutes {
  background-color: gray;
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.minutes {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  cursor: auto;
}
.mat-form-field {
  width: 100%;
}

.btn_ {
  background-color: #FFF;
  display: inline-block;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  border-right: 0;
  border-bottom: 1px solid #bebebe;;
  border-radius: 5px 0 0 5px;font-weight: 400;
  padding: 8px 15px;
}
.btn_.right {
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #bebebe;
  border-left: 0;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;;
  border-radius: 0px 5px 5px 0px;font-weight: 400;
}
.btn_.center {
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #bebebe;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #bebebe;;
  border-radius:0;
  font-weight: 400;
}
.btn_.active {
  background-color:  #165B4F;
  color: #FFF;
}
