
<mat-expansion-panel *ngIf="!parentForm.get('parent_product').value">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h5>{{ 'ADMIN.PRODUCT.FORM.SALES_FORMAT' | translate }}</h5>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <button (click)="addSalesFormat()" type="button" class="btn btn-secondary">{{ 'ADMIN.PRODUCT.FORM.SALES_FORMAT_ADD' | translate }}</button>

    <ng-container [formGroup]="parentForm">
      <div class="card mt-2" formArrayName="salesFormat" *ngFor="let saleFormat of salesFormatField.controls; index as saleFormatIndex">
        <div class="card-header">
          <h6>
            {{ 'ADMIN.PRODUCT.FORM.SALES_FORMAT' | translate }} {{saleFormatIndex+1}}
            <span (click)="removeSalesFormat(saleFormatIndex, saleFormat.get('id').value)" class="badge badge-danger pb-1 rounded-circle pointer">
              <i class="fas fa-trash-alt"></i>
            </span>
          </h6>
        </div>

        <div class="card-body">
          <div [formGroupName]="saleFormatIndex" class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div>
                    <mat-checkbox appearance="outline" formControlName="saleable_as_main">{{ 'ADMIN.PRODUCT.SALEABLE_AS_MAIN' | translate }}</mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox appearance="outline" formControlName="saleable_as_variant">{{ 'ADMIN.PRODUCT.SALEABLE_AS_VARIANT' | translate }}</mat-checkbox>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-12">
                  <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row mt-3" formGroupName="translations">
                <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
                  <div class="row mt-4">
                    <div class="col-2">
                      <h6>{{ getNameTranslation(key) }}</h6>
                    </div>
                    <div class="col-10">
                      <mat-form-field appearance="outline">
                        <mat-label>{{ 'ADMIN.PRODUCT.FORM.NAME' | translate }}</mat-label>
                        <input matInput formControlName="name" placeholder="{{ 'ADMIN.PRODUCT.FORM.NAME_PLACEHOLDER' | translate }}">
                        <mat-hint *ngIf="getTransControl(saleFormatIndex, key).get('name').invalid && getTransControl(saleFormatIndex, key).get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>{{ 'ADMIN.PRICE_LIST.FORM.DESCRIPTION' | translate }}</mat-label>
                        <input matInput formControlName="description" placeholder="{{ 'ADMIN.PRODUCT.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                        <mat-hint *ngIf="getTransControl(saleFormatIndex, key).get('description').invalid && getTransControl(saleFormatIndex, key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-12 mb-4 mt-4">
                  <h6>{{ 'ADMIN.PRODUCT.FORM.PRICE_LIST' | translate }}</h6>
                  <mat-divider></mat-divider>
                </div>

                <div class="col-12 mb-3 mt-4" formArrayName="saleFormatPriceList"
                    *ngFor="let saleFormPriceList of salesFormatPriceListField(saleFormatIndex).controls; index as saleFormatPriceListIndex">
                    <div [formGroupName]="saleFormatPriceListIndex" class="row">
                      <div class="col-3">
                        <span class="price-list-name">
                          {{ saleFormPriceList.get('price_list_name').value }}
                        </span>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'ADMIN.PRODUCT.FORM.MAIN_PRICE' | translate }}</mat-label>
                          <input type="number" matInput formControlName="main_price"
                             placeholder="{{ 'ADMIN.PRODUCT.FORM.MAIN_PRICE_PLACEHOLDER' | translate }}">
                          <mat-icon matSuffix>euro</mat-icon>
                          <mat-hint *ngIf="saleFormPriceList.get('main_price').invalid && saleFormPriceList.get('main_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'ADMIN.PRODUCT.FORM.VARIANT_PRICE' | translate }}</mat-label>
                          <input type="number" matInput formControlName="variant_price"
                            placeholder="{{ 'ADMIN.PRODUCT.FORM.VARIANT_PRICE_PLACEHOLDER' | translate }}">
                          <mat-icon matSuffix>euro</mat-icon>
                          <mat-hint *ngIf="saleFormPriceList.get('variant_price').invalid && saleFormPriceList.get('variant_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'ADMIN.PRODUCT.FORM.MENU_PRICE' | translate }}</mat-label>
                          <input type="number" matInput formControlName="menu_price" placeholder="{{ 'ADMIN.PRODUCT.FORM.MENU_PRICE' | translate }}">
                          <mat-icon matSuffix>euro</mat-icon>
                          <mat-hint *ngIf="saleFormPriceList.get('menu_price').invalid && saleFormPriceList.get('menu_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </ng-container>
  </div>
</mat-expansion-panel>
