footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 117px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("../../../../../assets/images/main/footer-bg.svg");
  transition: bottom 0.3s;
}
.container-button-ind {
  float: left;
  width: 33%;
  text-align: center;
}
.footer-button {
  width: 58px;
  height: 57px;
  border-radius: 30px;
  padding: 14px;
  display: block;
  display: inline-block;
  margin-top: 3px;
}
.footer-button .footer-button-image{max-height: 30px;}
.footer-button-middle {
  background-color: white;
  margin-left: 5px;
  margin-top: 20px;
  padding-top: 10px;
}
.footer-button-middle.active {
  background-color: rgba(0, 91, 79, 1);
}
.footer-button-left, .footer-button-right {
  background-color: transparent;
  border-radius: 7px;
  width: 91px;
  height: 61px;
  padding: 0;
}
.footer-button-left.active, .footer-button-right.active{
  background-color: #165b4e;
}
.footer-button-left .footer-button-image-left, .footer-button-right .footer-button-image-right {
  display: block;
  text-align: center;
  margin-top: 9px;
}
.footer-button-left span, .footer-button-right span {
  font-size: 11px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 4px;
    color: #7f8b8ac7;
    font-weight: 600;
    padding-left: 0px;
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
  font-size: 8px;
}
.material-icons {
  color: #7f8b8a!important;
  font-size: 32px;
}

.container-button-ind-left .material-icons, .container-button-ind-right .material-icons {
  margin-left: -7px;
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
  width: 19px;
  height: 19px;
  color: #fff;
  right: -7px;
}
.footer-button-image.footer-button-image-right {
  margin-top: 3px;
}
.footer-button.active .material-icons {
  color: #fff!important;
}
.footer-button-middle .footer-button-image {
  padding-top: 3px;
}
.footer-button-left.active span, .footer-button-right.active span {
  color:white;
}
.container-button-ind.container-button-ind-left, .container-button-ind.container-button-ind-right {
  padding-top: 43px;
}
.container-line-bottom-footer {
  text-align: center;
  width: 100%;
}
.line-bottom-footer {
  width: 100px;
  display: inline-block;
  height: 4px;
  background-color: #EDEDED;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -50px;
}
.footer-button-image .icons-footer {
  color: #7f8b8a;
  font-size: 22px;
}
.footer-button.active .footer-button-image .icons-footer {
  color: #FFF;
}
