<footer class="footer" id="footer">
  <div class="container">
    <div class="container-button-ind container-button-ind-left">
      <a routerLink="/products/taxonomy/{{ taxonomy }}"  routerLinkActive="active" class="footer-button footer-button-left">
        <div class="footer-button-image footer-button-image-left">
          <mat-icon>menu_book</mat-icon>
        </div>
        <span>{{ 'FOOTER.SUGGEST' | translate }}</span>
      </a>
    </div>
    <div class="container-button-ind">
      <a routerLink="/products" routerLinkActive="active" class="footer-button footer-button-middle">
        <div class="footer-button-image">

          <span class="material-icons"> restaurant_menu </span>
        </div>
      </a>
    </div>
    <div class="container-button-ind container-button-ind-right">
      <a href="{{ customer.join_us_url }}" target="_blank" class="footer-button footer-button-right">
        <div class="footer-button-image footer-button-image-right">
          <mat-icon >groups</mat-icon>
        </div>
        <span>{{ 'FOOTER.JOIN' | translate }}</span>
      </a>
    </div>
    <div class="container-line-bottom-footer">
      <div class="line-bottom-footer"></div>
    </div>
  </div>
</footer>
