
.container-rank-experience , .textarea-container{
  padding: 0 20px;
  width: 100%;
  margin: 10px 10px;
}
.nav-rank-experience {
  margin: 40px 10px 20px 10px
}
.add-margin-top-0 {
  margin-top: 0!important;
}
.title-thanks {
  padding-left: 0!important;
}

.btn-ranking {
  background-color: #fff;
  border: #165B4F;
  font-size: 12px;
  color: #868e96;
}
.btn-ranking.active {
  background-color: #165B4F!important;
  color: #fff;
}
.btn-ranking:hover, .btn-ranking:active {
  background-color: #4D8C84;
  color: #fff;
}
.btn-muy-buena {
  width: 35%;
}
.btn-buena, .btn-normal, .btn-mala {
  width: 21%;
}
textarea {
  border: 0;
  width: 100%;
  border-radius: 10px;
  background: #e3e3e3;
  padding: 10px 20px;
  color: rgba(18, 18, 31, 0.5);
  font-size: 15px;
  font-size: 14px;
  font-weight: 500;
  height: 130px;
}
textarea::placeholder {
  color: rgba(18, 18, 31, 0.5);
}
