<div class="container-payment">
  <div class="row row-header">
    <div class="container-title-restaurant">
      <h1 class="main-text-color montserrat-600">{{ customer.name }}</h1>
    </div>
  </div>

  <div class="row nav-rank-experience">
    <div class="nav-food">
      <span class="montserrat-600 w-100 text-center">
        {{ 'FEEDBACK.TITLE' | translate }}
      </span>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="send($event)" *ngIf="!response">
    <div class="row">
      <div class="container-rank-experience">
        <button type="button" (click)="changeRating($event, 5)" class="btn btn-rating btn-ranking btn-muy-buena">
          {{ 'FEEDBACK.VERY_GOOD' | translate }}
        </button>
        <button type="button" (click)="changeRating($event, 4)" class="btn btn-rating btn-ranking btn-buena">
          {{ 'FEEDBACK.GOOD' | translate }}
        </button>
        <button type="button" (click)="changeRating($event, 3)" class="btn btn-rating btn-ranking btn-normal">
          {{ 'FEEDBACK.NORMAL' | translate }}
        </button>
        <button type="button" (click)="changeRating($event, 2)" class="btn btn-rating btn-ranking btn-mala">
          {{ 'FEEDBACK.BAD' | translate }}
        </button>
      </div>
      <div class="textarea-container">
        <textarea formControlName="comment" placeholder="{{ 'FEEDBACK.MESSAGE_PLACEHOLDER' | translate}} {{ customer.name }}"></textarea>
      </div>
    </div>

    <div class="row row-finish-payment">
      <div class="container container-btn-add-cart">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-foodin-main btn-add-cart montserrat-500">Enviar valoración</button>
      </div>
    </div>
  </form>

  <div class="row row-payment payment-success" *ngIf="response">
    <div class="container-product-title-account pl-3">
      <h3 class="black title-thanks  montserrat-600">{{ 'FEEDBACK.THANKS' | translate }}</h3>
      <p>{{ 'FEEDBACK.SALUTATIONS' | translate }}</p>
    </div>
    <div class="container-checked-payment-icon">
          <span>
            <i class="fas fa-check"></i>
          </span>
    </div>
  </div>
</div>
