<div class="row mt-4">
  <div class="col-lg-4  col-md-6 col-sm-6 col-xs-12 mb-3" *ngFor="let saleCenter of salesCenters">
    <div class="box text-center">
      <h3>{{ saleCenter.translations[saleCenter.default_locale].name }}</h3>
      <qrcode [class]="'img-responsive'" #parent elementType="img"  [width]="200"
        [qrdata]="path+saleCenter.reference+'/'+location.id"
        [errorCorrectionLevel]="'M'"></qrcode>

      <button  class="btn btn-success mr-2"
        (click)="downloadQR(parent, saleCenter.translations[saleCenter.default_locale].name)">
        {{ 'COMMON.DOWNLOAD' | translate }}
      </button>
      <a class="btn btn-primary" target="_blank"
       href="{{ path }}{{ saleCenter.reference}}/{{location.id}}">
        {{ 'COMMON.CONNECT' | translate }}
      </a>
    </div>
  </div>
</div>
