
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>{{ 'ADMIN.PRODUCT.FORM.GROUP_VARIANT' | translate }}</h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <button (click)="addGroupVariants()" type="button" class="btn btn-secondary">{{ 'ADMIN.PRODUCT.FORM.GROUP_VARIANT_ADD' | translate }}</button>
      <ng-container [formGroup]="parentForm">
        <div class="card mt-2" formArrayName="groupVariants" *ngFor="let groupVariant of groupVariantsField.controls; index as groupVariantIndex">
          <div class="card-header">
            <h6>
              {{ 'ADMIN.PRODUCT.FORM.GROUP_VARIANT' | translate }} {{groupVariantIndex+1}}
              <span (click)="removeGroupVariants(groupVariantIndex, groupVariant.get('id').value)" class="badge badge-danger pb-1 rounded-circle pointer">
                <i class="fas fa-trash-alt"></i>
              </span>
            </h6>
          </div>
          <div class="card-body">
            <div [formGroupName]="groupVariantIndex" class="row">
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRODUCT.FORM.ORDER' | translate }}</mat-label>
                  <input type="number" matInput formControlName="order" placeholder="{{ 'ADMIN.PRODUCT.FORM.ORDER_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getGroupVariantControl(groupVariantIndex).get('order').invalid && getGroupVariantControl(groupVariantIndex).get('order').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRODUCT.FORM.MIN' | translate }}</mat-label>
                  <input type="number" matInput formControlName="min_selectable_variants" placeholder="{{ 'ADMIN.PRODUCT.FORM.MIN_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getGroupVariantControl(groupVariantIndex).get('min_selectable_variants').invalid && getGroupVariantControl(groupVariantIndex).get('min_selectable_variants').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRODUCT.FORM.MAX' | translate }}</mat-label>
                  <input type="number" matInput formControlName="max_selectable_variants" placeholder="{{ 'ADMIN.PRODUCT.FORM.MAX_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getGroupVariantControl(groupVariantIndex).get('max_selectable_variants').invalid && getGroupVariantControl(groupVariantIndex).get('max_selectable_variants').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-12">

                <ng-select
                          [items]="variants"
                          bindLabel="__magic"
                          appearance="outline"
                          bindValue="id"
                          labelForId="title"
                          [multiple]="true"
                          placeholder="{{ 'ADMIN.PRODUCT.FORM.VARIANT' | translate }}"
                          clearAllText="Clear"
                          formControlName="variants">
                </ng-select>

              </div>
              <div class="col-12">
                <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
                <mat-divider></mat-divider>
              </div>

              <ng-container class="mt-3" formGroupName="translations">
                <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
                  <div class="row mt-4">
                    <div class="col-2">
                      <h6>{{ getNameTranslation(key) }}</h6>
                    </div>
                    <div class="col-10">
                      <mat-form-field appearance="outline">
                        <mat-label>{{ 'ADMIN.PRODUCT.FORM.NAME' | translate }}</mat-label>
                        <input matInput formControlName="name" placeholder="{{ 'ADMIN.PRODUCT.FORM.NAME_PLACEHOLDER' | translate }}">
                        <mat-hint *ngIf="getTransControl(groupVariantIndex, key).get('name').invalid && getTransControl(groupVariantIndex, key).get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>{{ 'ADMIN.PRICE_LIST.FORM.DESCRIPTION' | translate }}</mat-label>
                        <input matInput formControlName="description" placeholder="{{ 'ADMIN.PRODUCT.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                        <mat-hint *ngIf="getTransControl(groupVariantIndex, key).get('description').invalid && getTransControl(groupVariantIndex, key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
        </div>
    </div>
  </ng-container>
  </div>
</mat-expansion-panel>
