<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-12">

            <mat-checkbox appearance="outline" formControlName="visible">{{ 'ADMIN.NOTIFICATION.VISIBLE' | translate }}</mat-checkbox>

            <div class="row pb-3 pt-3">
              <div class="col-12">
                <span>{{ 'ADMIN.NOTIFICATION.MINUTES_TEXT' | translate }}</span>
                <span class="less" (click)="restMinute()">-</span>
                <span class="minutes">{{ form.get('send_on_minute').value }}</span>
                <span class="more" (click)="sumMinute()">+</span>
              </div>
            </div>


            <div  class="row mt-2 mb-2">
              <div class="col-12">
                <h4>{{ 'ADMIN.NOTIFICATION.REDIRECT_TO' | translate }}</h4>
              </div>
              <div class="col-12">
                <button type="button" [ngClass]="{'active': form.get('redirect_type').value === 'product'}"
                 (click)="changeRedirectType($event, 'product')"
                  class="btn_">{{ 'ADMIN.NOTIFICATION.PRODUCT' | translate }}</button>

                <button type="button" [ngClass]="{'active': form.get('redirect_type').value === 'taxonomy'}"
                (click)="changeRedirectType($event, 'taxonomy')"
                  class="btn_ center">{{ 'ADMIN.NOTIFICATION.TAXONOMY' | translate }}</button>

                <button type="button"
                (click)="changeRedirectType($event, 'appreciation')" [ngClass]="{'active': form.get('redirect_type').value === 'appreciation'}"
                  class="btn_ center">{{ 'ADMIN.NOTIFICATION.APPRECIATION' | translate }}</button>

                <button type="button"
                (click)="changeRedirectType($event, 'external')" [ngClass]="{'active': form.get('redirect_type').value === 'external'}"
                  class="btn_ right">{{ 'ADMIN.MKT.LIST.EXTERNAL' | translate }}</button>
              </div>
            </div>

            <div class="row" *ngIf="form.get('redirect_type').value == 'product'">
              <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.NOTIFICATION.PRODUCT' | translate }}</mat-label>
                  <mat-select formControlName="product">
                    <mat-option *ngFor="let product of products" value="{{ product.id }}">{{ product.translations[defaultLang].name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="form.get('redirect_type').value == 'taxonomy'">
              <div class="col-12">
                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>{{ 'ADMIN.NOTIFICATION.TAXONOMY' | translate }}</mat-label>
                    <mat-select formControlName="taxonomy">
                      <mat-option *ngFor="let taxonomy of taxonomies" value="{{ taxonomy.id }}">{{ taxonomy.translations[defaultLang].name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="form.get('redirect_type').value == 'external'">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.NOTIFICATION.FORM.EXTERNAL' | translate }}</mat-label>
                  <input matInput formControlName="external_link" placeholder="{{ 'ADMIN.NOTIFICATION.FORM.EXTERNAL_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="form.get('external_link').invalid && form.get('external_link').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="row mt-3" formGroupName="translations">
          <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
            <div class="row mt-4">
              <div class="col-2">
                <h6>{{ getNameTranslation(key) }}</h6>
              </div>
              <div class="col-10">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.NOTIFICATION.FORM.NAME' | translate }}</mat-label>
                  <input matInput formControlName="name" placeholder="{{ 'ADMIN.NOTIFICATION.FORM.NAME_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('name').invalid && getTransControl(key).get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.NOTIFICATION.FORM.DESCRIPTION' | translate }}</mat-label>
                  <input matInput formControlName="description" placeholder="{{ 'ADMIN.NOTIFICATION.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('description').invalid && getTransControl(key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/notification"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
