.container-product {
  margin-top: 10px;
  margin-bottom: 130px;
}
.row-product-ind {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  -moz-box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  margin-bottom: 10px;
}
.row-menu-ind h2 {
  color: #212529;
  font-size: 22px;
}
.row-menu-ind p {
  color: #212529;
}
.title-product {
  color: #212529;
}
.row-menu-ind .price {
  color: rgba(175, 175, 189, 1);
  font-size: 11px;
}
.row-menu-ind h5 {
  color: #212529;
  font-size: 16px;
}
.img-thumbnail {
  border: 0!important;
}
.row-menu-ind h4 {
  color: #212529;
  font-size: 13px;
}
.rounded {border-radius: 10px!important;}
h3 {
  color: #212529;
}

.fa-exclamation-triangle {
  font-size: 48px;
  color: rgb(243,196,0);
}

.tag {
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: 100;
  color: #FFF;
  font-size: 10px;
}

.welcome-container {
  box-shadow: 0.1rem 1rem 1rem #bebebe7a;
  border-radius: 15px;
  margin-bottom: 110px;
  overflow: auto;
}
