<div *ngIf="!showWelcome">
  <app-header [customer]="customer"  [user]="user" [nav]="nav" [menus]="menus" [taxonomies]="taxonomies"></app-header>

  <div class="container container-product">
    <ng-template [ngIf]="products">
      <a routerLink="/products/detail/{{ product.id }}" class="row row-product-ind" *ngFor="let product of products">
        <div class="container-product-image">
          <img class="img-fluid" src="{{ product.image_url }}" />
        </div>
        <div class="container-product-detail">
          <h3 class="">{{ product.translations[defaultLang].name }}</h3>
          <div class="container-product-price">
            <i class="fas fa-clock icon-product-price-detail"></i> {{ product.price }} € ({{ 'COMMON.TAX_INCLUDED' | translate }})
          </div>
          <div class="mt-2">
            <span class="badge tag" [style]="{'background-color': tag.color}" *ngFor="let tag of product.tags">
              {{ tag.translations[defaultLang].hashtag | uppercase }}
            </span>
          </div>
        </div>
        <div class="container-product-view">
          <span>
            <i class="fas fa-plus"></i>
          </span>
        </div>
      </a>
    </ng-template>

    <ng-template [ngIf]="productNotFound">
      <div class="row-start-to-consume shadow rounded-lg p-3">
        <h3 class="montserrat-600 black-text-color">UPS!</h3>
        <p>{{ 'PRODUCT.NOT_FOUND' | translate }}</p>
      </div>
    </ng-template>

  </div>

</div>

<div class="row mt-4" *ngIf="showWelcome && welcome">
  <div class="col-12 ">
    <div class="welcome-container p-4 text-center" [style]="{maxHeight: vertical}">
      <h2 class="text-center mt-0 mb-1">{{ welcome.translations[defaultLang].title }}</h2>
      <img src="{{ welcome.image_url }}" class="img-fluid mb-3" />
      <button type="submit" (click)="hideWelcome()"
        class="btn btn-primary btn-foodin-main btn-add-cart montserrat-500">
        {{ 'WELCOME.ENJOY' | translate }}
      </button>
    </div>
  </div>
</div>
