table {
  width: 100%;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
  text-align: right;
}

.border-purple {
  border: 3px solid #300EFF;
}
.container-card  .card-text {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: rgba(37, 39, 51, 1);
}
.container-card  .card-title {
  color: rgba(159, 162, 180, 1);
  font-size: 19px;
  text-align: center;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
