<div class="row">
  <div class="col-lg-3 col-md-3 container-card ">
    <a routerLink="/admin/taxonomy" class="card shadow-lg rounded ">
      <div class="card-body">
        <h5 class="card-title">{{ 'ADMIN.TAXONOMY.TITLE' | translate }}</h5>
        <p class="card-text">{{ taxonomy }}</p>

      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 container-card ">
    <a routerLink="/admin/product" class="card shadow-lg rounded ">
      <div class="card-body">
        <h5 class="card-title">{{ 'ADMIN.PRODUCT.TITLE' | translate }}</h5>
        <p class="card-text">{{ product }}</p>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 container-card ">
    <a routerLink="/admin/menu" class="card shadow-lg rounded border-purple ">
      <div class="card-body">
        <h5 class="card-title">{{ 'ADMIN.MENU.TITLE' | translate }}</h5>
        <p class="card-text">{{ menu }}</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-12 align-right">
    <a routerLink="../new" class="btn btn-success btn-create">{{ 'ADMIN.MENU.CREATE' | translate }}</a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <mat-form-field>
      <mat-label>Buscador de menus</mat-label>
      <input matInput (keyup)="search($event)" placeholder="Ejemplo por nombre del menu" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.MENU.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].name }} </td>
          </ng-container>

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.MENU.VISIBLE' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                (change)="changeVisible(element.id, element.visible)"
                [checked]="element.visible">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['edit', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
