<div class="bg">
  
  <form class="form-signin" [formGroup]="form" (ngSubmit)="auth($event)">
    
    <img class="mb-4" src="assets/images/main/logo.png" alt="" width="72" height="72">
    <div class="alert alert-danger" role="alert" *ngIf="error" >
      El E-mail o la clave son incorrectas
    </div>
    <h1 class="h3 mb-3 font-weight-normal">INICIAR SESION</h1>
    <label for="inputEmail"  class="sr-only">Email</label>
    <input type="email" formControlName="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword"  class="sr-only">Password</label>
    <input type="password" formControlName="_password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-success btn-block" [disabled]="form.invalid"  type="submit">ENTRAR</button>
  </form>
</div>
