<div class="container-ad" [style]="{maxHeight: vertical}" *ngIf="showAd && globalAd">
  <div class="row">
    <div class="col-10">
      <h3 class="text-center">{{ ad.translations[defaultLang].name }}</h3>
      <p class="description text-center mt-3">{{ ad.translations[defaultLang].description }}</p>
    </div>
    <div class="col-2 text-right">
      <button (click)="close($event)" class="btn-ad-close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-4 text-center" *ngIf="ad.type == 'image'">
    <div class="col-12 text-center">
      <img src="{{ ad.image_url }}" class="img-fluid mb-3" />
      <ng-container *ngIf="ad.only_one_taxonomy">
        <a (click)="close($event)" *ngFor="let taxonomy of taxonomies"
            routerLink="/products/category/{{taxonomy.id}}"
            class="btn btn-primary btn-foodin-main btn-add-cart montserrat-500">
            {{ ad.translations[defaultLang].cta }}
        </a>
      </ng-container>
      <a *ngIf="ad.external_link != null" (click)="close($event)"
          href="{{ ad.external_link}}" target="_blank"
          class="btn btn-primary btn-foodin-main btn-add-cart montserrat-500">
          {{ ad.translations[defaultLang].cta }}
      </a>
      <ng-container *ngIf="ad.only_one_product">
        <a (click)="close($event)" *ngFor="let product of products"
            routerLink="/products/detail/{{product.id}}"
            class="btn btn-primary btn-foodin-main btn-add-cart montserrat-500">
            {{ ad.translations[defaultLang].cta }}
        </a>
      </ng-container>
    </div>
  </div>

  <div class="row mt-4 row-detail-text" *ngIf="ad.type == 'products_list' && ad.product_lists != null">
    <div class="container-detail-text">
      <div class="col-12">
        <a routerLink="/products/detail/{{ product.id }}" (click)="close($event)" class="row row-product-ind"
          *ngFor="let product of products">
          <div class="container-product-image">
            <img src="{{ product.image_url }}" />
          </div>
          <div class="container-product-detail">
            <h3>{{ product.translations[defaultLang].name }}</h3>
            <div class="container-product-price" *ngIf="product.product_price_list">
              <i class="fas fa-clock icon-product-price-detail"></i>
               {{ product.product_price_list.main_price }} € ({{ 'COMMON.TAX_INCLUDED' | translate }})
            </div>
          </div>
          <div class="container-product-view">
            <span>
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row mt-4 row-detail-text" *ngIf="ad.type == 'products_list' && ad.taxonomy_lists != null">
    <div class="container-detail-text">
      <div class="col-12">
        <a routerLink="/products/taxonomy/{{ taxonomy.id }}" (click)="close($event)" class="row row-product-ind"
          *ngFor="let taxonomy of taxonomies">
          <div class="container-product-detail" style="width: 90%!important;">
            <h3>{{ taxonomy.translations[defaultLang].name }}</h3>
          </div>
          <div class="container-product-view">
            <span>
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
