.btn-ad-close {
  background-color: rgba(0, 91, 79, 1);
  color: #FFF;
  border: 0;
  padding: 5px 6px 0px;
  border-radius: 17px;
  font-weight: bold;
}

.container-ad{
  position: absolute;
  top: 60px;
  background-color: #FFF;
  width: 95%;
  left: 50%;
  margin-left: calc(48% * -1);
  padding: 17px;
  border-radius: 30px;
  box-shadow: 0.1rem 1rem 1rem #21252938;
}
.container-ad h3 {
  color: #212529;
}
.container-ad .container-detail-text {
  box-shadow: 0 0 0 0!important ;
}
.description {font-weight: 500;}

.container-detail-product a{
  display: block;
  width: 40px;
  padding: 7px 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 31px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 10px;
}
.container-detail-product {
  width: 100%;
}
.container-detail-title {
  border-radius: 20px;
  padding: 7px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  width: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.container-detail-text {
  margin: 10px;
  padding: 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.row-detail-text-header-left {
  float: left;
  width: 70%;
  font-size: 16px;
}
.row-detail-text-header-right {
  float: right;
  width: 30%;
  font-size: 13px;
  color: rgba(175, 175, 189, 1);
  text-align: right;
}
.row-detail-text-body {
  font-size: 13px;
}
