<div class="row">
  <div class="col-12 align-right">
    <a routerLink="../new/image" class="btn btn-success btn-create mr-2">{{ 'ADMIN.AD.CREATE_IMAGE' | translate }}</a>
    <a routerLink="../new/product" class="btn btn-success btn-create mr-2">{{ 'ADMIN.AD.CREATE_PRODUCT' | translate }}</a>
    <a routerLink="../new/taxonomy" class="btn btn-success btn-create">{{ 'ADMIN.AD.CREATE_TAXONOMY' | translate }}</a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <mat-form-field>
      <mat-label>Buscador de POP-UPS</mat-label>
      <input matInput (keyup)="search($event)" placeholder="Ejemplo por nombre del POP-UP" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.AD.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].name }} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.AD.DESCRIPTION' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].description }} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.AD.TYPE' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.type == 'image' ">{{ 'ADMIN.AD.IMAGE' | translate }}</span>
              <span *ngIf="element.type == 'products_list' ">{{ 'ADMIN.AD.PRODUCT' | translate }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.AD.VISIBLE' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                (change)="changeVisible(element.id, element.visible)"
                [checked]="element.visible">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a *ngIf="element.type == 'image' "
                   mat-menu-item [routerLink]="['edit/image', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <a *ngIf="element.type == 'products_list' &&  element.products_list != null"
                  mat-menu-item [routerLink]="['edit/product', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <a *ngIf="element.type == 'products_list' &&  element.taxonomies_list != null"
                  mat-menu-item [routerLink]="['edit/taxonomy', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
