<div class="row">
  <div class="col-lg-3 col-md-3 container-card ">
    <a routerLink="/admin/sales-center" class="card shadow-lg rounded ">
      <div class="card-body">
        <h5 class="card-title">{{ 'ADMIN.SALES_CENTER.TITLE' | translate }}</h5>
        <p class="card-text">{{ saleCenters }}</p>

      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 container-card ">
    <a routerLink="/admin/price-list" class="card shadow-lg rounded border-purple">
      <div class="card-body">
        <h5 class="card-title">{{ 'ADMIN.PRICE_LIST.TITLE' | translate }}</h5>
        <p class="card-text">{{ priceList }}</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-12 align-right">
    <a routerLink="../new" class="btn btn-success btn-create">{{ 'ADMIN.PRICE_LIST.CREATE' | translate }}</a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.PRICE_LIST.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].name }} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.PRICE_LIST.DESCRIPTION' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].description }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.PRICE_LIST.STATUS' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status === 'active'"> {{ 'ADMIN.PRICE_LIST.ACTIVE' | translate }} </div>
              <div *ngIf="element.status === 'inactive'"> {{ 'ADMIN.PRICE_LIST.INACTIVE' | translate }} </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['edit', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
