.row-start-to-consume {
  padding:20px;
  border-radius: 20px;
  margin: 50px 0 0;
  -webkit-box-shadow: 18px 34px 44px 6px rgba(0,0,0,0.19);
  -moz-box-shadow: 18px 34px 44px 6px rgba(0,0,0,0.19);
  box-shadow: 18px 34px 44px 6px rgba(0,0,0,0.19);
}
.row-start-to-consume h3 {
  display: block;
  font-size: 17px;
  margin: 20px 0 0;
}

.row-start-to-consume input {
  background: #EBECEE;
  opacity: 0.1;
  border-radius: 10px;
  color: #CACACC;
  opacity: 1;
  border-color: #EBECEE;
  margin: 30px 0;
  height: 50px;
  font-size: 11px;
}
.row-start-to-consume input:focus {
  background: #EBECEE;
  border: 0;
  box-shadow: 0 0 0 0.05rem rgba(0,123,255,.25);
}

.row-start-to-consume form {
  display: block;
  width: 100%;
}

.btn-policy {
  background-color: #E4E4E4;
  display: inline-block;
  color: #a7a7a7;
  font-weight: 400;
  font-size: 11px;
  width: 200px;
}

.col-btn-privacy {
  text-align: center;
}
