<div class="row mt-4">
  <div class="col-12">
    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon>face</mat-icon>
             </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.FEEDBACK.CREATED_AT' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at  | date:'short'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.FEEDBACK.RATING' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <span class="badge p-2" style="background-color: green; color: white"
                *ngIf="element.rating == 4">
                {{ 'ADMIN.FEEDBACK.VERY_GOOD' | translate }}
              </span>
              <span class="badge p-2 " style="background-color: cadetblue; color: white"
                *ngIf="element.rating == 3">
                {{ 'ADMIN.FEEDBACK.GOOD' | translate }}
              </span>
              <span class="badge p-2" style="background-color: yellow; color: white"
                *ngIf="element.rating == 2">
                {{ 'ADMIN.FEEDBACK.NORMAL' | translate }}
              </span>
              <span class="badge p-2"  style="background-color: orangered; color: white"
                *ngIf="element.rating == 1">
                {{ 'ADMIN.FEEDBACK.BAD' | translate }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.FEEDBACK.COMMENT' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              {{ element.comment }}
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
