.box {width: 100%; padding: 20px; border: 2px solid #bebebe; border-radius: 5px; background-color: #FFF;}
.btn {
  display: inline-block;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  border-right: 0;
  border-bottom: 1px solid #bebebe;;
  border-radius: 5px 0 0 5px;font-weight: 400;
}
.btn.right {
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #bebebe;
  border-left: 0;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;;
  border-radius: 0px 5px 5px 0px;font-weight: 400;
}
.btn.active {
  background-color:  #165B4F;
  color: #FFF;
}
h1 {font-weight: 600;}
.btn-manage {
  background-color: #49CD97;
  color: #FFF;
  padding: 10px 15px 10px 15px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 0
}
.btn-back {
  background-color: #969494;
  color: #FFF;
  padding: 10px 15px 10px 15px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  margin-left: 3px
}
