<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2> {{ 'ADMIN.MKT.LIST.TITLE' | translate }}</h2>
    </div>
  </div>
  <div class="row" *ngIf="!_showExternal">
    <div class="col-8 mt-3">
      <div class="box">
        <h3>{{ 'ADMIN.MKT.LIST.WICH' | translate }}</h3>
        <div class="container-buttons text-center mt-3">
          <button (click)="setInternal()" [ngClass]="{'active': customer.external_or_internal_feedback === 'internal'}"
           class="btn active">{{ 'ADMIN.MKT.LIST.CRM_FOODINN' | translate }}</button>
          <button (click)="setExternal($event)" [ngClass]="{'active': customer.external_or_internal_feedback === 'external'}"
          class="btn right">{{ 'ADMIN.MKT.LIST.EXTERNAL' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!_showExternal">
    <div class="col-4">
      <div class="box text-center">
        <h1> {{ 'ADMIN.MKT.LIST.CRM_FOODINN' | translate }}</h1>

        <a  routerLink="/mkt-hub/view" class="btn-manage btn-success"> {{ 'ADMIN.MKT.LIST.MANAGE' | translate }}</a>
      </div>

    </div>

    <div class="col-4">
      <div class="box text-center">
        <h1> {{ 'ADMIN.MKT.LIST.EXTERNAL' | translate }}</h1>

        <a href="{{ customer.external_feedback_url }}" target="_blank"
          [disabled]="customer.external_or_internal_feedback == 'internal'"
            class="btn-manage"> {{ 'ADMIN.MKT.LIST.MANAGE' | translate }}</a>
      </div>

    </div>
  </div>
  <div class="row mt-4" *ngIf="_showExternal">
    <div class="col-6">
      <div class="box text-center">
        <h1> {{ 'ADMIN.MKT.LIST.CHOOSE_EXTERNAL' | translate }}</h1>
        <form [formGroup]="form" (submit)="doSave()">
          <div class="form-group mt-2">
            <input type="text" formControlName="join_us_url"
              placeholder="{{ 'ADMIN.MKT.LIST.EXTERNAL_PLACEHOLDER' | translate }}" class="form-control">
              <div  *ngIf="form.get('join_us_url').invalid && form.get('join_us_url').touched"
                 class="invalid" >
                {{ 'ADMIN.MKT.LIST.LINK_ERROR' | translate }}
              </div>
          </div>
          <button [disabled]="form.invalid"
           class="btn-manage"> {{ 'ADMIN.MKT.LIST.CONFIRM' | translate }}</button>
           <button (click)="showExternal($event)"
            class="btn-back"> {{ 'COMMON.BACK' | translate }}</button>
        </form>

      </div>
    </div>

  </div>
</div>


