
  <ng-container [formGroup]="parentForm">
    <div class="col-12 mb-4 mt-4">
      <h6>{{ 'ADMIN.PRODUCT.FORM.PRICE_LIST' | translate }}</h6>
      <mat-divider></mat-divider>
    </div>

    <div class="col-12 mb-3 mt-4" formArrayName="productPriceList"
        *ngFor="let productPriceList of productPriceListField.controls; index as saleFormatPriceListIndex">
        <div [formGroupName]="saleFormatPriceListIndex" class="row">
          <div class="col-3">
            <span class="price-list-name">
              {{ productPriceList.get('price_list_name').value }}
            </span>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.PRODUCT.FORM.MAIN_PRICE' | translate }}</mat-label>
              <input type="number" matInput formControlName="main_price"
                 placeholder="{{ 'ADMIN.PRODUCT.FORM.MAIN_PRICE_PLACEHOLDER' | translate }}">
              <mat-icon matSuffix>euro</mat-icon>
              <mat-hint *ngIf="productPriceList.get('main_price').invalid && productPriceList.get('main_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.PRODUCT.FORM.VARIANT_PRICE' | translate }}</mat-label>
              <input type="number" matInput formControlName="variant_price"
                placeholder="{{ 'ADMIN.PRODUCT.FORM.VARIANT_PRICE_PLACEHOLDER' | translate }}">
              <mat-icon matSuffix>euro</mat-icon>
              <mat-hint *ngIf="productPriceList.get('variant_price').invalid && productPriceList.get('variant_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.PRODUCT.FORM.MENU_PRICE' | translate }}</mat-label>
              <input type="number" matInput formControlName="menu_price" placeholder="{{ 'ADMIN.PRODUCT.FORM.MENU_PRICE' | translate }}">
              <mat-icon matSuffix>euro</mat-icon>
              <mat-hint *ngIf="productPriceList.get('menu_price').invalid && productPriceList.get('menu_price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
    </div>
  </ng-container>
