<div class="row">
  <div class="col-12 align-right">
    <a routerLink="../new" class="btn btn-success btn-create">{{ 'ADMIN.NOTIFICATION.CREATE' | translate }}</a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <mat-form-field>
      <mat-label>Buscador de notificaciones</mat-label>
      <input matInput (keyup)="search($event)" placeholder="Ejemplo por nombre de la notifiacion" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.NOTIFICATION.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].name }} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.NOTIFICATION.DESCRIPTION' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.translations[lang].description }} </td>
          </ng-container>

          <ng-container matColumnDef="minutes">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.NOTIFICATION.MINUTES' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              {{ element.send_on_minute }}
              {{ 'ADMIN.NOTIFICATION.MINUTES_MIN' | translate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.WELCOME.VISIBLE' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                (change)="changeVisible(element.id, element.visible)"
                [checked]="element.visible">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['edit', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
