
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <form [formGroup]="form" (ngSubmit)="doFilter($event)">
      <div class="row">
        <div class="col-10">
          <div class="container-fluid">
            <div class="row">

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.FEEDBACK.SEARCH_RATING' | translate }}</mat-label>
                  <mat-select formControlName="rating__eq">
                    <mat-option value="4">{{ 'ADMIN.FEEDBACK.VERY_GOOD' | translate }}</mat-option>
                    <mat-option value="3">{{ 'ADMIN.FEEDBACK.GOOD' | translate }}</mat-option>
                    <mat-option value="2">{{ 'ADMIN.FEEDBACK.NORMAL' | translate }}</mat-option>
                    <mat-option value="1">{{ 'ADMIN.FEEDBACK.BAD' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2 align-right">
          <button class="btn-form" [disabled]="form.invalid" mat-mini-fab color="basic"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
