<div class="row mb-4">
  <div class="col-12">
    <h6 class="mt-4">Imagen</h6>
  </div>
  <div class="col-6">
    <input type="file" class="file-input"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload mb-4">

      {{fileName || "ADMIN.FILE_UPLOADER.NOT_FILE_YET" | translate}}

      <button mat-mini-fab color="primary" class="upload-btn mr-2"
        (click)="fileUpload.click();  $event.preventDefault()">
          <mat-icon>attach_file</mat-icon>
      </button>

    </div>

    <div>

    <mat-progress-bar mode="buffer" [value]="uploadProgress" *ngIf="uploadProgress"></mat-progress-bar>

    <mat-icon class="cancel-upload" (click)="cancelUpload()"
            *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>

    <div>

    </div>
  </div>
  <div class="col-3 text-center">
    <div *ngIf="file" (click)="openShow($event)" style="cursor: pointer;">
      <img src="{{ file }}" class="img-fluid rounded img-thumbnail" />
    </div>
  </div>
</div>


<mat-divider></mat-divider>
