<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-6">
            <app-menu-taxonomy [parentForm]="form" ></app-menu-taxonomy>
            <div>
              <mat-checkbox appearance="outline" formControlName="visible">{{ 'ADMIN.MENU.VISIBLE' | translate }}</mat-checkbox>
            </div>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.MENU.FORM.ORDER' | translate }}</mat-label>
              <input type="number" matInput formControlName="order" placeholder="{{ 'ADMIN.MENU.FORM.ORDER_PLACEHOLDER' | translate }}">
              <mat-hint *ngIf="form.get('order').invalid && form.get('order').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="row mt-3" formGroupName="translations">
          <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
            <div class="row mt-4">
              <div class="col-2">
                <h6>{{ getNameTranslation(key) }}</h6>
              </div>
              <div class="col-10">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.MENU.FORM.NAME' | translate }}</mat-label>
                  <input matInput formControlName="name" placeholder="{{ 'ADMIN.MENU.FORM.NAME_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('name').invalid && getTransControl(key).get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.MENU.FORM.DESCRIPTION' | translate }}</mat-label>
                  <input matInput formControlName="description" placeholder="{{ 'ADMIN.MENU.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('description').invalid && getTransControl(key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-menu-price-list [parentForm]="form" [isNew]="isNew"></app-menu-price-list>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/menu"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
