.box {width: 100%; padding: 20px; border: 2px solid #bebebe; border-radius: 5px; background-color: #FFF;}
.btn-manage {
  background-color: #49CD97;
  color: #FFF;
  padding: 10px 15px 10px 15px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 0
}
