<div class="row mt-4">
  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.WELCOME' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/puerta.svg" />
      <a routerLink="/admin/welcome" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.TAG' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/tag.svg" />
      <a routerLink="/admin/tag" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.AD' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/pop-up.svg" />
      <a routerLink="/admin/ad" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.NOTIFICATION' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/mobile.svg" />
      <a routerLink="/admin/notification" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.JOIN' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/cliente.svg" />
      <a routerLink="/admin/setting" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm1 mb-4">
    <div class="box text-center">
      <h6>{{ 'ADMIN.HOME.SELL_CROSSED' | translate }}</h6>
      <img  class="img-fluid mt-3" src="../../../../../../../assets/images/admin/venta-cruzada.svg" />
      <a routerLink="/admin/cross-sell" class="btn btn-manage mt-4">{{ 'COMMON.MANAGE' | translate }}</a>
    </div>
  </div>
</div>
