<div class="row">
  <div class="col-12 align-right">
    <a routerLink="../new" class="btn btn-success btn-create">{{ 'ADMIN.CROSS_SELL.CREATE' | translate }}</a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.CROSS_SELL.PRODUCT_BASE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.translations[lang].name }} </td>
          </ng-container>

          <ng-container matColumnDef="cross_sell_product">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.CROSS_SELL.PRODUCT_CROSS_SELL' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              {{ element.cross_sell_product.translations[lang].name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.CROSS_SELL.VISIBLE' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                (change)="changeVisible(element.id, element.visible)"
                [checked]="element.visible">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['edit', element.id]">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'COMMON.EDIT' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
