<div class="container">
  <div class="row row-header">
    <div class="container-title-restaurant">
      <h1 class="main-text-color montserrat-600">{{company}}</h1>
    </div>
  </div>
  <div class="row row-start-to-consume">
    <h3 class="montserrat-600 black-text-color">Ups!</h3>
    <p>{{ 'LOCALIZATION.INACTIVE.MESSAGE_P1' | translate }}</p>
    <p>{{ 'LOCALIZATION.INACTIVE.MESSAGE_P2' | translate }}</p>
  </div>
</div>
