<ng-container [formGroup]="parentForm">
  <div class="form-group product-control" *ngIf="taxonomies.length > 0">
    <ng-select
        [items]="taxonomies"
        bindLabel="__magic"
        appearance="outline"
        bindValue="id"
        labelForId="title"
        [multiple]="true"
        placeholder="{{ 'ADMIN.PRODUCT.FORM.CATEGORY_PLACEHOLDER' | translate }}"
        clearAllText="Clear"
        formControlName="taxonomies">
    </ng-select>
  </div>
</ng-container>
