<div class="row">
  <div class="col-12 align-right">

  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <app-search (emit)="setFilter($event)"></app-search>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.LANGS.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
          <ng-container matColumnDef="iso">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.LANGS.ISO' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.iso }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> {{ 'ADMIN.LANGS.STATUS' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status === 'active'"> {{ 'ADMIN.LANGS.ACTIVE' | translate }} </div>
              <div *ngIf="element.status === 'inactive'"> {{ 'ADMIN.LANGS.INACTIVE' | translate }} </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </div>
  </div>
</div>
