.button-lang-container {
  border: 0;
  padding: 0;
  background: transparent;
  width: 33px;
}
.right {float:right}
.container-lang-extened {
  position: absolute;
  right: -7px;
  background-color: #8080802e;
  border-radius: 28px;
  padding: 14px 8px;
  top: -14px;
  z-index: 1000000;
}
.container-lang-extened button {
  display: block;

}
.container-lang-extened button:first {
  margin-bottom: 10px;
}
.container-call-waiter {position: relative;}
