<div class="row row-header">
  <div class="container-title-restaurant">
    <h1 class="main-text-color montserrat-600">{{ customer.name }}</h1>
  </div>

  <div class="container-call-waiter">
    <button  class="button-lang-container right" (click)="openLang($event)">
      <img [src]="'../../../../../assets/images/lang/'+defaultLang+'.svg'" class="img-fluid" />
    </button>
    <div class="container-lang-extened" *ngIf="isOpenLang">
      <button class="button-lang-container mb-4" (click)="changeLang('es')">
        <img src="../../../../../assets/images/lang/es.svg" class="img-fluid" />
      </button>
      <button  class="button-lang-container" (click)="changeLang('en')">
        <img src="../../../../../assets/images/lang/en.svg" class="img-fluid" />
      </button>
    </div>
  </div>

  <div class="nav-food" *ngIf="taxonomies">
      <div class="col-left">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="nav-food2">
        <ng-container *ngFor="let n of nav">
          <a  *ngIf="n.type == 'taxonomy'" routerLinkActive="active" routerLink="/products/taxonomy/{{n.id}}">
            {{n.translations[defaultLang].name}}
          </a>
          <a *ngIf="n.type == 'menu'" routerLinkActive="active" routerLink="/products/detail-menu/{{n.id}}">
            {{n.translations[defaultLang].name}}
          </a>
        </ng-container>
      </div>
      <div class="col-right">
        <i class="fas fa-chevron-right"></i>
      </div>
  </div>
</div>
