<ng-container [formGroup]="parentForm">
  <div class="form-group mt-2 product-control" *ngIf="allergens.length > 0">
    <ng-select
               [items]="allergens"
               bindLabel="__magic"
               appearance="outline"
               bindValue="id"
               labelForId="title"
               [multiple]="true"
               placeholder="{{ 'ADMIN.PRODUCT.FORM.ALLERGEN_PLACEHOLDER' | translate }}"
               clearAllText="Clear"
               formControlName="allergens">
    </ng-select>
  </div>
</ng-container>
