
<div mat-dialog-content>
  <img *ngIf="data.type === 'image'" class="img-fluid" src="{{ data.file }}" />

  <div class="video-player-wrapper" *ngIf="data.type === 'video'">
    <vg-player>
      <video #myMedia
            vgHls="{{ data.file }}/playlist.m3u8"
            id="my-video"
            type="video/mp4"
            controls>
      </video>
    </vg-player>
  </div>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="false">{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>
