
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <form [formGroup]="form" (ngSubmit)="doFilter($event)">
      <div class="row">
        <div class="col-10">
          <div class="container-fluid">
            <div class="row">

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.CROSS_SELL.VISIBLE' | translate }}</mat-label>
                  <mat-select formControlName="status__eq">
                    <mat-option value="1">{{ 'COMMON.YES' | translate }}</mat-option>
                    <mat-option value="0">{{ 'COMMON.NO' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.CROSS_SELL.PRODUCT_BASE' | translate }}</mat-label>
                  <mat-select formControlName="product__eq">
                    <mat-option *ngFor="let product of products"
                      value="{{ product.id }}">{{ product.translations[defaultLang].name }}</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.CROSS_SELL.PRODUCT_CROSS_SELL' | translate }}</mat-label>
                  <mat-select formControlName="cross_sell_product__eq">
                    <mat-option *ngFor="let product of products"
                      value="{{ product.id }}">{{ product.translations[defaultLang].name }}</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'COMMON.LANG' | translate }}</mat-label>
                  <mat-select formControlName="lang">
                    <mat-option *ngFor="let lang of langs" value="{{ lang.iso }}">{{ lang.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2 align-right">
          <button class="btn-form" [disabled]="form.invalid" mat-mini-fab color="basic"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
