<div class="container-detail" *ngIf="menu">
  <div class="row row-detail-header">
    <h1 class="main-text-color montserrat-600">{{ customer.name }}</h1>
  </div>
  <ng-container>
    <div class="row row-detail-banner">
      <div class="container">
        <div class="container-detail-product row">
          <div class="col-2">
            <a href="#" (click)="back($event)">
              <i class="fas fa-chevron-left"></i>
            </a>
          </div>
          <div class="col-9">
            <div class="container-detail-title montserrat-600">
              {{ menu.translations[user.lang].name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-detail-text">
      <div class="container-detail-text">
          <div class="container-detail-text-header">
            <div class="row-detail-text-header-left montserrat-500">
              Descripción
            </div>
            <div class="row-detail-text-header-right montserrat-300">
              {{ menu.price }} €
            </div>
          </div>
        <div class="clearfix"></div>
          <div class="row-detail-text-body montserrat-300">
            {{ menu.translations[user.lang].description }}
          </div>
      </div>
    </div>

    <div class="row row-detail-text row-menu-taxonomy" *ngFor="let taxonomy of view">
      <div class="container-detail-text" >
        <h6>{{ taxonomy.name }} </h6>
        <div class="container-menu-product pt-3 pb-3 mb-2" *ngFor="let product of taxonomy.products">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <img class="img-fluid" src="{{ product.image_url }}" />
              </div>
              <div class="col-7 p-0">
                <h6 class="mb-0">{{ product.name }}</h6>
                <div class="col-12 p-0 containter-menu-product-price">
                  + {{ product.menu_price }}€
                </div>

                <div class="col-12 p-0">
                  <span *ngFor="let allergen of product.allergens ">
                    <img  src="{{ allergen.image_url }} " width="20" />
                  </span>
                </div>
              </div>
              <div class="col-2 container-menu-product-variants d-none">
                <div class="container-add-remove-products">
                  <span class="add active">
                    <i class="material-icons">add</i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</div>
<app-not-found [customer]="customer" *ngIf="error"></app-not-found>
