h1 {
  font-size: 30px;
}
.variantMandatory {
  font-size: 11px;
  margin-top: 3px;
  color: red;
}
.container-detail {
  margin: 0 0 130px 0;
}
.row-detail-header {
  margin-top: 15px;
  padding:0 15px;
}
.row-detail-banner {
  margin-top: 5px;
}
.row-detail-banner img{
  border-radius: 20px 20px 0 0;
  /*  max-height: 250px;*/
}

.container-product-image img{
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.container-allergens {
  padding: 0;
}
.container-delivery-options {
  margin-top:10px;
}

.container-supplements {
  margin-top:10px;
}
.border-bottom-1:last-child {
  border-bottom: 0;
}
.container-detail-product a{
  display: block;
  width: 40px;
  padding: 7px 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 31px;
  text-align: center;
  left: 20px;
  top: 10px;
}
.container-detail-product {
  width: 100%;
}
.container-detail-title {
  border-radius: 20px;
  padding: 7px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-align: center;
  top: 10px;
}

.container-detail-text {
  margin: 10px;
  padding: 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.07);
  width: 100%;
  position: relative;
}
.row-detail-text-header-left {
  float: left;
  width: 70%;
  font-size: 16px;
}
.row-detail-text-header-right {
  float: right;
  width: 30%;
  font-size: 13px;
  color: rgba(175, 175, 189, 1);
  text-align: right;
}
.row-detail-text-body {
  font-size: 13px;
}
.container-detail-add-note {
  margin-top: 0px;
  padding: 0;
  width: 100%;
  background-color: rgba(58, 62, 82, 0.07);
  box-shadow: none;
  margin-bottom: 0;
}
.container-detail-add-note textarea{
  border: 0;
  width: 100%;
  border-radius: 10px;
  background: transparent;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.33);
  font-size: 15px;
  height: 73px;
  font-size: 14px;
}
.container-detail-add-note textarea::placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-size: 14px;
}
.container-detail-add-products {
  width: 100%;
  margin-top: 0;
  border-radius: 5px 5px 10px 10px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.container-add-remove-products {
  margin-top: 10px;
}
.container-add-remove-products {
  float: left;
  width: 70%;
}

.container-total-price {
  float: left;
  width: 30%;
}

.add, .remove {
  background-color: rgba(151, 151, 151, 1);
  color: white;
  padding: 13px 7px 3px;
  border-radius: 8px;
  margin: 0 8px;
}
.quantity {
  font-size: 27px;
  color: white;
  padding: 7px 0;
  border-radius: 7px;
}
.add.active, .remove.active, .quantity {
  background-color: rgba(0, 91, 79, 1);
}
.text-total {
  font-size: 16px;
}
.text-price-total {
  font-size: 20px;
}
.container-total-price {
  color: rgba(175, 175, 189, 1);
}
.btn-add-cart {
  width: 90%;
  display: inline-block;
  padding: 11px 0;
}
.container-btn-add-cart {
  text-align: center;
  margin-top: 10px;
}

.title-variant {
  background-color: #eeeeee;
  width: 100%;
}
.text-mandatory {
  font-size:12px;
  padding: 0;
  margin:10px 0 0;
}
.quantity-input {
  display: inline;
  width: 50px;
  background: transparent;
  border: 0;
  color: white;
  text-align: center;
}

.row-menu-taxonomy h6 {
  background-color: #EBEBEB;
  padding: 10px 5px;
  border-radius: 5px;
  position: relative;
}
.containter-menu-product-price {font-size: 13px;}
.container-menu-product {
  border-radius: 5px;
  box-shadow: 5px 2px 12px 2px rgb(0 0 0 / 8%);

}

.container-menu-product-variants .container-add-remove-products{float:none; width:auto}
.container-menu-product-variants .container-add-remove-products .remove,
.container-menu-product-variants .container-add-remove-products .add {
  margin: 0;
}
