
  <ng-container [formGroup]="parentForm">
    <div class="col-12 mb-4 mt-4">
      <h6>{{ 'ADMIN.MENU.FORM.PRICE_LIST' | translate }}</h6>
      <mat-divider></mat-divider>
    </div>

    <div class="col-12 mb-3 mt-4" formArrayName="menuPriceList"
        *ngFor="let menuPriceList of menuPriceListField.controls; index as saleFormatPriceListIndex">
        <div [formGroupName]="saleFormatPriceListIndex" class="row">
          <div class="col-3">
            <span class="price-list-name">
              {{ menuPriceList.get('price_list_name').value }}
            </span>
          </div>
          <div class="col-9">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.MENU.FORM.PRICE' | translate }}</mat-label>
              <input type="number" matInput formControlName="price"
                 placeholder="{{ 'ADMIN.MENU.FORM.PRICE_PLACEHOLDER' | translate }}">
              <mat-icon matSuffix>euro</mat-icon>
              <mat-hint *ngIf="menuPriceList.get('price').invalid && menuPriceList.get('price').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>
          </div>

        </div>
    </div>
  </ng-container>
