<ngx-loading-bar color="rgba(0, 91, 79, 1)" height="4px"></ngx-loading-bar>
<main role="main" >
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-ad></app-ad>
</main>

<app-footer></app-footer>

