<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'ADMIN.PRODUCT_TAG.TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-12">
            <ng-select
                [items]="products"
                bindLabel="__magic"
                appearance="outline"
                bindValue="id"
                labelForId="title"
                [multiple]="true"
                placeholder="{{ 'ADMIN.PRODUCT_TAG.PRODUCT' | translate }}"
                clearAllText="Clear"
                formControlName="products">
            </ng-select>
          </div>
        </div>


        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ 'COMMON.EDIT' | translate }}</button>
            <a class="btn-form" routerLink="/admin/tag"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
