
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <form [formGroup]="form" (ngSubmit)="doFilter($event)">
      <div class="row">
        <div class="col-10">
          <div class="container-fluid">
            <div class="row">

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.LANGS.SEARCH_NAME' | translate }}</mat-label>
                  <input matInput formControlName="name__like" placeholder="{{ 'ADMIN.LANGS.SEARCH_NAME' | translate }}">
                </mat-form-field>
              </div>

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.LANGS.SEARCH_ISO' | translate }}</mat-label>
                  <input matInput formControlName="iso__like" placeholder="{{ 'ADMIN.LANGS.SEARCH_ISO' | translate }}">
                </mat-form-field>
              </div>

              <div class="col-3">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label>{{ 'ADMIN.LANGS.SEARCH_STATUS' | translate }}</mat-label>
                  <mat-select formControlName="status__eq">
                    <mat-option value="active">{{ 'ADMIN.LANGS.SEARCH_ACTIVE' | translate }}</mat-option>
                    <mat-option value="inactive">{{ 'ADMIN.LANGS.SEARCH_INACTIVE' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2 align-right">
          <button class="btn-form" [disabled]="form.invalid" mat-mini-fab color="basic"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
