<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-12">
            <mat-checkbox appearance="outline" formControlName="visible">{{ 'ADMIN.CROSS_SELL.VISIBLE' | translate }}</mat-checkbox>

            <ng-select
                [items]="products"
                bindLabel="__magic"
                appearance="outline"
                bindValue="id"
                labelForId="title"
                [multiple]="false"
                placeholder="{{ 'ADMIN.CROSS_SELL.PRODUCT_BASE' | translate }}"
                clearAllText="Clear"
                formControlName="product">
            </ng-select>

            <mat-form-field appearance="outline" *ngIf="crossSellId !== undefined">
              <mat-label>{{ 'ADMIN.CROSS_SELL.PRODUCT_CROSS_SELL' | translate }}</mat-label>
              <mat-select
                formControlName="cross_sell_product">
                <mat-option *ngFor="let product of products"
                  [value]="product.id"> {{ product.translations[defaultLang].name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <ng-select *ngIf="crossSellId === undefined"
                [items]="products"
                bindLabel="__magic"
                appearance="outline"
                bindValue="id"
                labelForId="title"
                [multiple]="true"
                placeholder="{{ 'ADMIN.CROSS_SELL.PRODUCT_CROSS_SELL' | translate }}"
                clearAllText="Clear"
                formControlName="cross_sell_product">
            </ng-select>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2"
            [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/cross-sell"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
