<div class="container">
  <div class="row row-header">
    <div class="container-title-restaurant">
      <h1 class="main-text-color montserrat-600">{{company}}</h1>
    </div>
  </div>
  <div class="row row-start-to-consume">
    <h3 class="montserrat-600 black-text-color">Ups! Pagina no encontrada</h3>
    <p>Lo siento, estas buscando algo que no existe!</p>
    <a href="/">Volver al inicio</a>
  </div>
</div>
