@import "~@ng-select/ng-select/themes/material.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, sans-serif!important; }
a:active, a:hover { text-decoration: none!important; }
input:focus, textarea:focus, select:focus{
  outline: none;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #4D8C84;
  border-color: #4D8C84;
}
.pointer {
  cursor: pointer;
}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: #46a745;
}
.mat-slider-thumb-label {
  width: 35px;
  height: 35px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.main-text-color  {
  color: rgba(0, 91, 79, 1)
}
.black-text-color {
  color: rgba(18, 18, 31, 1);
}
.main-bg-color {
  background-color: rgba(0, 91, 79, 1);
}
.montserrat-300{
  font-weight: 300!important;
}
.montserrat-400{
  font-weight: 400!important;
}
.montserrat-600{
  font-weight: 600!important;
}
.montserrat-500{
  font-weight: 500!important;
}

::placeholder {
  color: #000;
  font-size: 10px;
}
.btn-foodin-main {
  color: #fff;
  background-color: #165B4F;
  border-color: #165B4F;
  width: 100%;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

.nav-food {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 28.5px;
  width: 100%;
  margin-top:15px;
  position:relative;
}
.nav-food2 {
  white-space: nowrap;
  overflow: auto;
}
.col-left, .col-right {
  position: absolute;
  color: #165b4f;
}
.col-left {
  left: 4px;
  top: 9px;
}
.col-right {
  right: 3px;
  top: 9px;
}

.nav-food a, .nav-food span {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  color: rgba(18, 18, 31, 1);
  padding: 10px 18px;
  font-size: 14px;
}
.container-title-restaurant {
  width: 80%;
  margin-left: 0;
  float: left;
}

.row-header {
  padding: 20px 20px 20px;
}

.container-title-restaurant h1{
  font-size: 30px;
}
.container-call-waiter {
  width: 20%;
  margin-right: 0;
  float: right;
}
.icon-call-to-waiter {
  width: 35px;
  border-radius: 31px;
  display: block;
  height: 35px;
  padding: 5px;
  margin-right: 10px;
  float: right;
}
.nav-food a.active{
  background-color: rgba(0, 91, 79, 1);
  border-radius: 28.5px;
  color: rgba(255, 255, 255, 1);
}
.nav-food a .fa-angle-right {
  padding-top: 2px;
}
.gray {
  color: rgba(18, 18, 31, 0.7);
}
.align-right {
  text-align: right;
}
.gray-light {
  color:
    rgba(175, 175, 189, 1);
}
.black {
  color: rgba(18, 18, 31, 1)
}
.btn-foodin-main:active, .btn-foodin-main:hover {
  background-color: #4D8C84!important;
}
.container-cash-payment-option .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 15px!important;
}
.container-cash-payment-option .mat-form-field-underline {
  display: none!important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused .mat-form-field-label,
.mat-select-arrow, .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgba(0, 91, 79, 1);
}

.btn-add-cart {
  width: 90%;
  display: inline-block;
  padding: 11px 0;
}
.icon-close {
  background-color: rgba(160, 41, 41, 1);
  color: #ffff;
  text-align: center;
  font-size: 19px;
}
.icon-close:hover {
  color: #ffff;
}
.row-payment {
  box-shadow: 14px 39px 39px 11px rgba(0, 0, 0, 0.07);
  margin: 0px;
  padding-top: 0;
  border-radius: 15px;
  background-color: white;
}
.container-product-view span{
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  border-radius: 28px;
  padding: 6px 8px;
  background-color: #165B4F;
  color: white;
  font-size: 11px;
  position: absolute;
  top: 50%;
}

.row-product-ind {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  -moz-box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  box-shadow: 22px 27px 39px 11px rgba(0, 0, 0, 0.079);
  margin-bottom: 10px;
}

.container-product-view {
  position: relative;
}

.container-btn-add-cart {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-product-view-total {
  text-align: right;
  width: 100%;
  padding-right: 40px;
}
.title-total {
  font-size: 15px;
  color: rgba(18, 18, 31, 0.6);
}
.price-total {
  font-size: 18px;
  color: rgba(175, 175, 189, 1);
}
.row-product-ind .container-product-image {
  width: 20%;
  float: left;
}
.row-product-ind .container-product-detail {
  width: 70%;
  float: left;
  padding-left: 15px;
}
.row-product-ind .container-product-image img{
  border-radius: 5px;
  /**height: 100%;*/
  width: 100%;
}
.row-product-ind .container-product-detail h3 {
  font-size: 15px;
  padding-top: 10px;
}
.row-product-ind .container-product-detail .container-product-price {
  color: rgba(175, 175, 189, 1);
  font-size: 11px;
}
.icon-product-price-detail {
  margin-right: 5px;
}

.container-product-view {
  position: relative;
}
.container-product-view a, .container-product-view span{
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  border-radius: 28px;
  padding: 6px 9px;
  background-color: #165B4F;
  color: white;
  font-size: 11px;
  position: absolute;
  top: 50%;
}
.payment-success .container-product-title-account {
  width: 80%;
}
.payment-success .container-checked-payment-icon {
  width: 20%;
}
.payment-success {
  margin: 0 10px;
}
.container-checked-payment-icon span {
  right: 5px;
}
.payment-success h3 {
  font-size: 16px;
  margin-top: 5px;
}
.payment-success {
  padding: 20px 0px;
}
.row-payment {
  box-shadow: 14px 39px 158px 11px rgba(0, 0, 0, 0.07);
}
.container-checked-payment-icon span {
  background-color: rgba(0, 91, 79, 1);
  text-align: center;
  border-radius: 14px;
  color: white;
  padding: 8px 9px;
  font-size: 9px;
  margin: 25px 30px 0;
  position: relative;
  top: 12px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #175c51;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #175c52;
}
.border-bottom-1 {
  border-bottom: 1px solid;
}
.ngx-spinner {
  left: 50%!important;
  top: 50%!important;
  margin-left: -30px;
  margin-top: -30px;
}
.ngx-spinner-icon{
  width: 60px!important;
  height: 60px!important;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 85%;
      margin: 1.75rem auto;
  }
}

.container-variants {
  margin-bottom: 5px;
}
.container-variants h5{
  font-size: 11px;
  margin: 0 0 4px 0;
}
.container-variants p {
  font-size: 10px;
  margin-bottom: 2px;
}
button:focus {
  outline: none;
}
.transaction-alert {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.container-menu-product h6 {
  background-color: transparent!important;
  font-size: 16px!important;
  padding: 0!important;
}

.container-menu-product img {border-radius: 5px;}

.invalid {
  color: rgb(199, 50, 50);
  text-align: left;
  font-size: 10px;
  padding-top:3px
}
.file-input {
  display: none;
}
