<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.LANGS.FORM.NAME' | translate }}</mat-label>
              <input matInput formControlName="name" placeholder="{{ 'ADMIN.LANGS.FORM.NAME_PLACEHOLDER' | translate }}">
              <mat-hint *ngIf="form.get('name').invalid && form.get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'ADMIN.LANGS.FORM.ISO' | translate }}</mat-label>
              <input matInput formControlName="iso" placeholder="{{ 'ADMIN.LANGS.FORM.ISO_PLACEHOLDER' | translate }}">
              <mat-hint *ngIf="form.get('iso').invalid && form.get('iso').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/lang"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
