<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-12">
            <mat-checkbox appearance="outline" formControlName="visible">{{ 'ADMIN.WELCOME.VISIBLE' | translate }}</mat-checkbox>
            <ng-container>
              <app-file-upload type="image" (emit)="setFile($event)" file="{{ form.get('image_url').value }}" file="image" [requiredFileType]="fileType"></app-file-upload>
            </ng-container>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="row mt-3" formGroupName="translations">
          <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
            <div class="row mt-4">
              <div class="col-2">
                <h6>{{ getNameTranslation(key) }}</h6>
              </div>
              <div class="col-10">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRICE_LIST.FORM.NAME' | translate }}</mat-label>
                  <input matInput formControlName="title" placeholder="{{ 'ADMIN.PRICE_LIST.FORM.NAME_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('title').invalid && getTransControl(key).get('title').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRICE_LIST.FORM.DESCRIPTION' | translate }}</mat-label>
                  <input matInput formControlName="description" placeholder="{{ 'ADMIN.PRICE_LIST.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('description').invalid && getTransControl(key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/welcome"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
