<mat-card>
  <mat-card-header>
    <mat-card-title>{{ texts.title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <form [formGroup]="form" (ngSubmit)="doSave($event)">
        <div class="row">
          <div class="col-12 mb-4">
            <app-file-upload type="image" (emit)="setFile($event)" file="{{ form.get('image_url').value }}"
              file="image" [requiredFileType]="fileType"></app-file-upload>
          </div>
          <div class="col-6">
            <app-product-taxonomy [parentForm]="form" ></app-product-taxonomy>
            <app-product-allergen [parentForm]="form" ></app-product-allergen>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="mr-2">
              <mat-label>{{ 'ADMIN.PRODUCT.DEFAULT_ORDER_ON_DELIVERY' | translate }}</mat-label>
              <mat-select formControlName="default_order_on_delivery">
                <mat-option value="starter">{{ 'ADMIN.PRODUCT.STARTER' | translate }}</mat-option>
                <mat-option value="main">{{ 'ADMIN.PRODUCT.MAIN' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <mat-checkbox appearance="outline" formControlName="visible">{{ 'ADMIN.PRODUCT.VISIBLE' | translate }}</mat-checkbox>
            </div>

            <div>
              <mat-checkbox appearance="outline" formControlName="saleable_as_main">{{ 'ADMIN.PRODUCT.SALEABLE_AS_MAIN' | translate }}</mat-checkbox>
            </div>
            <div>
              <mat-checkbox appearance="outline" formControlName="saleable_as_variant">{{ 'ADMIN.PRODUCT.SALEABLE_AS_VARIANT' | translate }}</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>{{ 'COMMON.TRANSLATE' | translate }}</h6>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="row mt-3" formGroupName="translations">
          <div class="col-12" *ngFor="let key of translationsKeys" [formGroupName]="key">
            <div class="row mt-4">
              <div class="col-2">
                <h6>{{ getNameTranslation(key) }}</h6>
              </div>
              <div class="col-10">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRODUCT.FORM.NAME' | translate }}</mat-label>
                  <input matInput formControlName="name" placeholder="{{ 'ADMIN.PRODUCT.FORM.NAME_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('name').invalid && getTransControl(key).get('name').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADMIN.PRICE_LIST.FORM.DESCRIPTION' | translate }}</mat-label>
                  <input matInput formControlName="description" placeholder="{{ 'ADMIN.PRODUCT.FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
                  <mat-hint *ngIf="getTransControl(key).get('description').invalid && getTransControl(key).get('description').touched ">{{ 'COMMON.FIELD_INVALID' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-product-price-list [parentForm]="form" [isNew]="isNew"></app-product-price-list>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-accordion>
              <app-product-child [parentForm]="form"></app-product-child>
            </mat-accordion>
            <mat-accordion class="mt-3">
              <app-product-variant-group [parentForm]="form"></app-product-variant-group>
            </mat-accordion>
          </div>
        </div>

        <div class="row mt-4">
          <div  class="col-12">
            <button class="btn-form mr-2" [disabled]="form.invalid" mat-flat-button color="primary">{{ texts.button | translate }}</button>
            <a class="btn-form" routerLink="/admin/product"  mat-stroked-button color="link">{{ 'COMMON.BACK' | translate }}</a>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
