<h1 mat-dialog-title> {{data.title | translate }}</h1>
<div mat-dialog-content *ngIf="data.subtitle">{{data.subtitle | translate }}</div>
<mat-dialog-actions class="mt-2" align="center">
  <button class="btn btn-info mr-2" [mat-dialog-close]="false">{{ 'COMMON.CANCEL' | translate }}</button>
  <button class="btn btn-danger" [mat-dialog-close]="true">{{ 'COMMON.DELETE' | translate }}</button>
</mat-dialog-actions>
