<div class="container-detail" *ngIf="product">
  <div class="row row-detail-header">
    <h1 class="main-text-color montserrat-600">{{ customer.name }}</h1>
  </div>
  <div class="row row-detail-banner">
     <div class="container-detail-product">
       <a href="#" (click)="back($event)">
         <i class="fas fa-chevron-left"></i>
       </a>
       <div class="container-detail-title montserrat-600">
         {{ product.translations[defaultLang].name }}
       </div>
     </div>
     <figure>
      <img class="img-fluid" src="{{ product.image_url }}" />
    </figure>
  </div>
  <div class="row row-detail-text">
    <div class="container-detail-text">
        <div class="container-detail-text-header">
          <div class="row-detail-text-header-left montserrat-500">
            {{ 'PRODUCT.DESCRIPTION' | translate }}
          </div>
          <div class="row-detail-text-header-right montserrat-300">
            {{ product.price }} €
          </div>
        </div>
      <div class="clearfix"></div>
        <div class="row-detail-text-body montserrat-300">
          {{ product.translations[defaultLang].description }}
        </div>
      <div class="row-detail-text-body montserrat-300" *ngIf="allergens">
          <span *ngFor="let allergen of allergens">
            <img  src="{{ allergen.image_url }} " width="20" />
          </span>
      </div>

    </div>
  </div>

  <div class="row row-detail-text" *ngFor="let variantGroup of variantGroups">
    <div class="container-detail-text">
      <label class="montserrat-600 p-2  rounded title-variant">{{ variantGroup.translations[defaultLang].name }}</label>
      <div class="col-12">
        <div class="border-bottom-1 pt-2 pb-2 row" *ngFor="let variant of variantsById(variantGroup.id)">
          <div class="col-6">
            {{ variant.product_full.translations[defaultLang].name }}
          </div>
          <div class="col-6 text-right">
            + {{variant.product_price_list.variant_price}}€
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="crossSells.length > 1">
    <div class="row row-detail-text">

        <div class="container-detail-text">
          <label class="montserrat-600 p-2  text-center rounded title-variant">{{ 'PRODUCT.CROSS_SELL.TITLE' | translate }}</label>
          <div class="col-12">
            <a routerLink="/products/detail/{{ crossSell.cross_sell_product.id }}" class="row row-product-ind" *ngFor="let crossSell of crossSells">
              <div class="container-product-image">
                <img src="{{ crossSell.cross_sell_product.image_url }}" />
              </div>
              <div class="container-product-detail">
                <h3>{{ crossSell.cross_sell_product.translations[defaultLang].name }}</h3>
                <div class="container-product-price" *ngIf="crossSell.cross_sell_product.product_price_list">
                  <i class="fas fa-clock icon-product-price-detail"></i>
                   {{ crossSell.cross_sell_product.product_price_list.main_price }} € ({{ 'COMMON.TAX_INCLUDED' | translate }})
                </div>
              </div>
              <div class="container-product-view">
                <span>
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </a>
          </div>
        </div>

    </div>
  </ng-container>
</div>

<app-not-found [customer]="customer" *ngIf="error"></app-not-found>
